*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: black;
    color: rgb(248, 233, 233);
}
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.time-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
    margin-top: 1.5rem;
}
.control-opt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
}
.control-elem{
    background-color: hsla(0, 92%, 10%, 0.979);
    padding: .8rem;
    border-radius: 7px;
    text-align: center;
}
.btn{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
}
.counter{
    border: 3px solid hsla(0, 92%, 10%, 0.979);
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.start-stop{
    display: flex;
    gap: .5rem;
}
.start-stop div{
    cursor: pointer;
    margin-top: .5rem;
}